<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Secret Page</h2>
                <p class="card-text mt-4">You have successfully signed in, {{ user.first_name }}!</p>
                <p class="card-text mt-2">Want to register another account? <a href="{{ url_for('sign_up') }}" class="btn btn-secondary">Sign Up Again</a></p>
            </div>
        </div>
    </div>
</body>
</html>
